swift/Dynamic_Examples/Dynamic_Examples.xcodeproj/project.xcworkspace/xcuserdata/gettricks.xcuserdatad/UserInterfaceState.xcuserstate
/swift/Dynamic_Examples/Dynamic_Examples.xcodeproj/project.xcworkspace
